# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [21]:
def lesser_of_two_evens(a,b):
    
    #to chek two nums is even
    if a%2==0 and b%2==0:
        
    #to return lesser num of them
        return min(a,b)
    
    #once one or both odd
    else:
        
        return max(a,b)

print(lesser_of_two_evens(2,5))

print(lesser_of_two_evens(2,4))

5

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [27]:
def animal_crackers(text):
    
    #to split the text and see it separatly letter by letter
    text=text.split()
    
    #to check is the first letter of first word = first letter of second word
    if text[0][0]==text[1][0]:
        
        
        print("true")
        
    #if two letter not equal print false
    else:
        print("false")
        
        
animal_crackers('Levelheaded Llama')
(animal_crackers('Crazy Kangaroo'))

true
false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [29]:
def makes_twenty(n1,n2):
    
    #to check that at least one of three conditions true
    if n1+n2==20 or n1==20 or n2==20:
        
        print("true")
        
    #if 3 conditions false
    else :
        print("false")
        
#call funs
makes_twenty(20,10)
makes_twenty(2,3)

true
false

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [41]:
def old_macdonald(name):
    
    
    len(name)
    
    #make the first litter capital
    x=name[0].upper()
    
    #make the fourth letter capital
    y=name[3].upper()
    
    #show first capital "x" and put other letters then put fourth letter"y"and other letters
    print(x+name[1:3]+y+name[4:len(name)])

    #call fun
old_macdonald('macdonald')

MacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [52]:
def almost_there(n):
    
    #check of first ranege
    if n in range(90,111):
        print("true")
        
     #check 2nd range   
    elif n in range(190,211):
        print("true")
        
    #any another nums print false
    else:
        print("false")
        
(almost_there(104))
(almost_there(150))
(almost_there(209))

true
false
true

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [67]:
def has_33(nums):
    len(nums)
    for i in range(0,len(nums)):
        if (nums[i:i+1]==i) :
            print("true")
            
        else:
            print("false")

    
has_33([1, 3, 3])  
has_33([1, 3, 1, 3])

false
false
false
false
false
false
false

In [ ]:
# Check
has_33([1, 3, 3])

In [ ]:
# Check
has_33([1, 3, 1, 3])

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [78]:
def paper_doll(text):
    #store empty space
    temp=""
    
    #to pass throughy letter by letter in text
    for i in text:
        
     #store in "temp" every letter times 3 and increment by 1 to move to next letter   
        temp+=(i*3)
        
    return temp  

#call fun
print(paper_doll('Hello'))     
paper_doll('Mississippi')

HHHeeellllllooo

'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
# Check
paper_doll('Hello')

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [94]:
def blackjack(a,b,c):
#     if (a,b,c) in range(1,12):
        if (a+b+c)<=21:
            return a+b+c
        elif a==11 or b==11 or c==11 and a+b+c>21:
           
            return (a+b+c)-10
        elif (a+b+c)>21:
            print("Bust")
            
print(blackjack(5,6,7)) 
print(blackjack(9,9,11))
blackjack(9,9,9)

18
19
Bust

In [89]:
# Check
blackjack(5,6,7)

In [ ]:
# Check
blackjack(9,9,9)

In [ ]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    list=arr
    if

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    
    for i in range(1,num+1) :
        if

In [ ]:
# Check
count_primes(100)

## Great Job!